#background {
    background-image: url('../../assets/images/PlaylistBG.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    flex-direction: column;
    padding: 4em 11.8em ;
}

@media screen and (max-width: 800px) {
    #background {
        padding: 1em 5.8em ;
    }
}